/* TYPOGRAPHY STYLES */

$sans-serif: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", "FreeSans",
  sans-serif;
$serif: Garamond, Georgia, "Times New Roman", Times, serif;

html,
body,
p,
a,
li {
  font-family: $serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: $sans-serif;
}

a {
  color: inherit;
}

body {
  font-size: 16px;
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin: 0 0 1.125em 0;
}

h1 {
  font-size: 1.5em; /* 24px */
  line-height: 1.5em; /* 36px */
  margin-top: 0.75em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.375em; /* 22px */
  line-height: 1.6364em; /* 36px */
  margin-top: 0.8182em;
  margin-bottom: 0em;
}

h3 {
  font-size: 1.25em; /* 20px */
  line-height: 1.8em; /* 36px */
  margin-top: 0.9em;
  margin-bottom: 0em;
}

h4 {
  font-size: 1.125em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h6 {
  font-size: 0.875em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}

a,
button,
li {
  font-size: 1em; /* 16px */
  line-height: 1.125em; /* 18px */
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}
